// Color Palette 
$primary: #eeeeee;
$secondary: #7d7d82;
$highlight: #ed4a44;
$background: #000000;

// $background: #3b373a;
// $primary: #e5e5e5;
// $secondary: #77090b;
// $tertiary: #333333;
// $highlight: #FCA311;
// $background: #000000;



