@import "setup";
@import "fonts";
@import "colorPalette";

// Header //
header {
    height: 100vh;
}

nav {
    padding: 20px 0;
    justify-content: flex-end;
    ul {
        justify-content: flex-end;
        li {
            margin-left: 50px;
        }
    }
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3 ease-in-out;
    background-color: $primary;
}

.logo {
    height: 300px;
    width: 300px;
}

.title-container {
    height: 90vh;
    align-items: center;
    justify-content: center;
    h1 span {
        text-transform: uppercase;
    }
    h2 {
        text-transform: none;
    }
}

.title {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 5px $secondary,
                0 0 10px $secondary,
                0 0 20px $secondary,
                0 0 40px $secondary,
                0 0 80px $secondary,
                0 0 100px $secondary,
                0 0 120px $secondary;
    animation: blink 3s infinite linear alternate;
}

@keyframes blink {
    60%, 70%, 79% {
        opacity: 1;
    }

    65%, 67%, 76%, 78% {
        opacity: 0.2;
    }

    66%, 69%, 77% {
        opacity: 0.8;;
    }
}

// About Me //
.img-container {
    width: 35%;
    img {
        border-radius: 10px;
    }
}

.text-container {
    width: calc(65% - 50px);
    margin-left: 50px;
    p {
        margin-bottom: 20px;
    }
    h3 {
        margin-right: 30px;
        font-weight: 700;
    }
}

.skills {
    flex-wrap: wrap;
}

.whisper {
    font-size: 1.6rem;
    font-style: italic;
}

// Project Section
.projects {
    margin: 100px 0;
    background-color: $primary;
    color: $background;
    padding-bottom: 50px;
    h2 {
        color: $background;
        text-align: left;
        padding-top: 50px;
    }
}

.project-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.project-img-cont {
    width: calc(50% - 25px);
    margin-right: 25px;
}

li .icon {
    color: black;
}

.project-description, .project-description-special {
    width: calc(50% - 25px);
    margin-left: 25px;
    justify-content: center;
    h3, li, a {
        color: black;
    }
}


.project-description-special {
    width: calc(50% - 25px);
    margin-right: 25px;
}

.project-description h3, .project-description p,
.project-description-special h3, .project-description-special p {
    margin-bottom: 10px;
}

.project-description ul, .project-description-special ul {
    margin-bottom: 10px;
}

.project-img-cont-special {
    width: calc(50% - 25px);
    margin-left: 25px;
}

.project-btn {
    border: 1px solid $secondary;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin: 10px;
}
// Contact + Footer
.contact {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    h2, p {
        margin-bottom: 25px;
    }
    img {
        width: 250px;
        border-radius: 50%;
        margin: 20px 0;
    }
    ul {
        padding: 10px 0;
        // border: 1px solid red;
    }
}

.btn-email {
    border: 3px solid $secondary;
    width: 250px;
    padding: 5px;
    margin: 10px auto;
    p {
        margin: 0;
    }
}

footer {
    text-align: center;
    p {
        font-size: 1.4rem;
        margin: 10px 0;
    }
}

@media (max-width: 825px) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: $primary;
        width: 50%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 1rem 0;
        .nav-link {
            color: black;
        }
    }


    .hamburger {
        display: block;
        cursor: pointer;
    }

    .project-container {
        flex-direction: column;
        .project-img-cont, .project-description {
            width: 100%;
            margin: 0;
        }
    }
    .special {
        flex-direction: column-reverse;
    }

    .project-description-special, .project-img-cont-special {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        .text-container {
            width: 100%;
            margin: 0 auto;
        }
    }

    .img-container {
        width: 300px;
        margin: 0 auto;
    }
    .whisper {
        text-align: center;
        margin-bottom: 25px;
    }
}

@media (max-width: 527px) {
    h1 {
        font-size: 6rem;
        line-height: normal;
    }
    h2{
        font-size: 3rem;
    }
    p {
        font-size: 1.6rem;
    }
.project-btn {
    border: 1px solid $secondary;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 10px 5px;
}
}

@media (max-width: 375px) {
    h1{
        font-size: 4rem;
        line-height: normal;
    }
    h2 {
        font-size: 2.5rem;
    }
    
}